.container {
  margin: 50px auto;
  width: 70%;
  position: relative;
  @media (max-width: 1650px) {
    width: 90%;
  }
}

.mainTitle {
  font-size: 50px;
  // margin-bottom: 40px;
  font-weight: 500;
  color: #000;
  text-align: center;
  margin-bottom: 0px;
}

.title {
  font-size: 60px;
  font-weight: 500;
  color: #000;
  opacity: 0;
  transform: translateY(30px);
  transition:
    opacity 1s ease-in-out,
    transform 1s ease-in-out;

  &.animated {
    opacity: 1;
    transform: translateY(0);
  }
}

.servicesContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); // Set columns to 3
  gap: 40px; // Increase the gap to add more space between the cards
  margin-top: 40px;
  position: relative;

  @media (max-width: 1470px) {
    grid-template-columns: 1fr; // 1 column for screens smaller than 1470px
    justify-items: center; // Center the cards
  }
}

.serviceCard {
  display: flex;
  flex-direction: column;
  align-items: center; // Center the text
  padding: 20px;
  width: 100%; // Set width to 100% for grid layout
  border: none; // Remove border
  border-radius: 0px;
  opacity: 0;
  transform: translateY(30px);
  transition: all 1s ease-in-out;

  &.animated {
    opacity: 1;
    transform: translateY(0);
  }

  @media (max-width: 1470px) {
    width: 50%; // Set width to 50% for screens smaller than 1470px
  }

  @media (max-width: 750px) {
    width: 100%; // Set width to 100% for screens smaller than 750px
  }

  &:not(:last-child) {
    border-right: 1px solid #ccc; // Add border-right to all but the last card

    @media (max-width: 1470px) {
      border-right: none; // Remove border-right for screens smaller than 1470px
      border-bottom: 1px solid #ccc; // Add border-bottom for screens smaller than 1470px
    }

    @media (max-width: 1024px) {
      &:nth-child(2n) {
        border-right: none; // Remove border-right for every second card on tablets
      }
    }

    @media (max-width: 768px) {
      border-right: none; // Remove border-right for all cards on mobile devices
      border-bottom: 1px solid #ccc; // Add border-bottom for all cards on mobile devices
    }
  }

  .textContent {
    margin-bottom: 20px;
    text-align: center; // Center the text
  }

  .dottedList {
    list-style: none;
    padding: 0;
    margin: 20px 0;
    display: flex;
    flex-direction: column;
    align-items: center; // Center the text

    .listItem {
      font-size: 20px;
      font-weight: 300;
      color: #000000;
      position: relative;
      margin-bottom: 10px;

      &::before {
        content: '';
        position: absolute;
        left: -15px;
        top: 50%;
        transform: translateY(-50%);
        height: 6px;
        width: 6px;
        background-color: #000000;
        border-radius: 50%;
      }
    }
  }

  h2 {
    font-size: 35px;
    font-weight: 500;
    margin-bottom: 10px;
    color: #000000;
    text-align: center; // Center the text
  }

  p {
    font-size: 20px;
    font-weight: 300;
    margin-bottom: 20px;
    color: #000000;
    line-height: 1.5;
    text-align: center; // Center the text
  }

  .servicePrice {
    font-size: 25px;
    font-weight: 500;
    margin-bottom: 20px;
    color: #000000;
    text-align: center; // Center the text
  }

  a {
    display: inline-block;
    padding: 15px 30px; // Make the button bigger
    font-size: 18px; // Make the button text bigger
    font-weight: 500; // Make the button text bolder
    color: #fff;
    background-color: #000000;
    border: none;
    border-radius: 50px;
    text-decoration: none;
    transition: background-color 0.3s;

    &:hover {
      background-color: #0056b3;
    }
  }
}

.dividerline {
  margin-top: 70px;
  background-color: #bfbfbf;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 0; /* Start with width 0 */
  opacity: 0;
  transition:
    opacity 1s ease,
    width 2s ease-out; /* Animate width over 2 seconds */
}

.dividerline.animated {
  width: 100%;
  opacity: 1;
  @media (max-width: 1500px) {
    width: 90%;
  }
}
