.container {
  width: 70%;
  margin: 50px auto;
  padding: 0 16px;
  @media (max-width: 1800px) {
    width: 90%; // 2 columns for tablets
  }
}

.portfolioList {
  opacity: 0;
  transform: translateY(20px);
  transition:
    opacity 0.6s ease-out,
    transform 0.6s ease-out;
}

.portfolioList.animated {
  opacity: 1;
  transform: translateY(0);
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 16px;

  @media (max-width: 1850px) {
    grid-template-columns: repeat(
      2,
      1fr
    ); // 2 columns for screens with max-width of 1850px
  }

  @media (max-width: 1024px) {
    grid-template-columns: repeat(2, 1fr); // 2 columns for tablets
  }

  @media (max-width: 768px) {
    grid-template-columns: 1fr; // 1 column for mobile devices
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.portfolioItem {
  display: flex;
  align-items: flex-start; // Align items to the top
  color: black; // Make text black
  text-decoration: none; // Remove underline from links
}

.image {
  width: 400px; // Set width
  height: 250px; // Set height
  object-fit: cover; // Ensure the image covers the div
  background-size: cover; // Ensure the background image covers the div
  background-position: center; // Center the background image
  background-repeat: no-repeat; // Prevent the background image from repeating
  margin-right: 24px; // Increased margin
}

.textContainer {
  display: flex;
  flex-direction: column;
}

.title {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  font-size: 1.8rem; // Adjusted to match InterfInfo
  font-weight: 600; // Adjusted to match InterfInfo
  margin-bottom: 16px; // Adjusted to match InterfInfo
  color: #000000; // Adjusted to match InterfInfo
}

.itemTitle {
  font-size: 1.4rem; // Adjusted to match InterfInfo
  font-weight: 500; // Adjusted to match InterfInfo
  margin-top: 0; // Adjusted to match InterfInfo
}

.itemDescription {
  font-size: 0.9rem; // Adjusted to match InterfInfo
  color: #555; // Adjusted to match InterfInfo
}

.divider {
  height: 1px;
  background-color: #ddd;
  margin: 16px 0;
}
