.container {
  display: flex;
  align-items: center;
  justify-content: space-around;
  width: 80%;
  min-height: 75vh;
  margin-left: auto;
  margin-right: auto;
  opacity: 0; /* Start with the container invisible */
  transform: translateY(50px); /* Start with an offset position */
  transition:
    opacity 1s ease,
    transform 1s ease; /* Animate opacity and position */

  &.animated {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
  }

  @media (max-width: 1200px) {
    align-items: center;
    flex-direction: column;
  }
}

.title {
  font-size: 80px;
  color: #000000;
  text-align: left;
  max-width: 45%;
  font-weight: 500;
  opacity: 0;
  transform: translateY(20px); /* Slide in from above */
  transition:
    opacity 1s ease,
    transform 1s ease; /* Animate opacity and slide effect */

  &.animated {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
  }

  @media (max-width: 1750px) {
    font-size: 50px;
  }
  @media (max-width: 1750px) {
    margin-top: 120px;
    max-width: 35%;
    text-align: center;
  }
  @media (max-width: 1400px) {
    max-width: 100%;
    font-size: 40px;
  }
}

.collumn {
  margin-right: 150px;
  display: flex;
  flex-direction: column;
  opacity: 0;
  transform: translateY(30px); /* Start with an offset */
  transition:
    opacity 1s ease,
    transform 1s ease; /* Animate opacity and position */

  &.animated {
    opacity: 1;
    transform: translateY(0); /* Reset position */
  }

  @media (max-width: 1050px) {
    margin-right: 100px;
  }
  @media (max-width: 960px) {
    margin-right: 50px;
  }
}

.subTitle {
  font-size: 30px;
  margin: 0 0 20px 0;
  font-weight: 500;
  color: #000000;
  opacity: 0;
  transform: translateY(20px); /* Start with a slight offset */
  transition:
    opacity 1s ease,
    transform 1s ease; /* Animate opacity and position */

  &.animated {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
  }
}

.link {
  color: #000000;
  font-weight: 400;
  text-decoration: none;
  font-size: large;
  margin-bottom: 15px;
  opacity: 0;
  transform: translateY(20px); /* Start with a slight offset */
  transition:
    opacity 1s ease,
    transform 1s ease 0.2s; /* Delay the animation slightly */

  &:hover {
    color: #007bff; /* Change color on hover */
    text-decoration: underline;
  }

  &.animated {
    opacity: 1;
    transform: translateY(0); /* Reset to original position */
  }
}
