.videoContainer {
  width: 100%;
  height: 120vh;
  position: relative;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
}

.videoContainer video {
  position: absolute;
  width: auto;
  height: auto;
  min-width: 100%;
  min-height: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: -1;
}

.contentContainer {
  // background-color: rgba(0, 0, 0, 0.8);
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
}

.contentTextBox {
  font-weight: 500;
  font-style: normal;
  margin-left: 15%;
  margin-top: -8vh;
  // width: 700px;
}

.title,
.subtitle {
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-in-out;
}

.title.animated,
.subtitle.animated {
  opacity: 1;
  transform: translateY(0);
}

.title {
  color: #fff;
  font-weight: 500;
  font-size: 110px;
  margin-bottom: 0;
}

.subtitle {
  color: #fff;
  font-weight: 500;
  font-size: 45px;
  margin-top: 0;
}

.interfInfoTitle {
  margin-top: 60px;
  font-size: 65px;
  font-weight: 500;
  opacity: 0; /* Start as invisible */
  transform: translateY(20px); /* Start off slightly below */
  transition:
    opacity 1s ease,
    transform 1s ease-out;
}

.interfInfoSubtitle {
  font-weight: 400;
  font-size: 2.2rem;
}

@media (max-width: 768px) {
  .videoContainer {
    height: 125vh;
  }

  .contentTextBox {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-top: -5vh;
  }

  .title {
    font-size: 50px;
  }

  .subtitle {
    font-size: 20px;
  }
}
