.container {
  display: flex;
  justify-content: space-between;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  @media (max-width: 1500px) {
    width: 90%;
    margin-top: 50px;
  }
  @media (max-width: 1050px) {
    flex-direction: column;
    margin-top: 50px;
  }
}

.stat {
  text-align: center;
  opacity: 0;
  transform: translateY(20px);
  transition: all 1s ease-in-out;
  @media (max-width: 1050px) {
    margin-top: 50px;
  }
}

.animated {
  opacity: 1;
  transform: translateY(0);
}

.value {
  font-size: 70px;
  font-weight: 500;
}

.label {
  display: block;
  margin-top: 0.5rem;
  font-size: 18px;
}

.dividerline {
  margin-top: 50px;
  background-color: #bfbfbf;
  height: 2px;
  margin-left: auto;
  margin-right: auto;
  width: 0; /* Start with width 0 */
  opacity: 0;
  transition:
    opacity 1s ease,
    width 2s ease-out; /* Animate width over 2 seconds */
}

.dividerline.animated {
  width: 70%;
  opacity: 1;
  @media (max-width: 1500px) {
    width: 90%;
  }
}
